body {
    background-image: url("./images/dog_face.jpg");
    background-repeat: no-repeat;
    background-size: contain; 
}

nav {
    height: 80px;
    background: #c4d3cb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
  }

  .bark {
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
  }